CalculatorService/CalculatorClient/Service References/CalculatorService/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Calculator" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Calculator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Calculator/Imports">
      <xsd:import namespace="http://Calculator" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CalculatorService.Contracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CalculatorService.Contracts" name="detail" element="q1:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substract_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CalculatorService.Contracts" name="detail" element="q2:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CalculatorService.Contracts" name="detail" element="q3:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CalculatorService.Contracts" name="detail" element="q4:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Sqrt_InputMessage">
    <wsdl:part name="parameters" element="tns:Sqrt" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Sqrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SqrtResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Sqrt_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CalculatorService.Contracts" name="detail" element="q5:CalculationFault" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Calculator/ICalculator/Add" message="tns:ICalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Calculator/ICalculator/AddResponse" message="tns:ICalculator_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Calculator/ICalculator/AddCalculationFaultFault" name="CalculationFaultFault" message="tns:ICalculator_Add_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="http://Calculator/ICalculator/Substract" message="tns:ICalculator_Substract_InputMessage" />
      <wsdl:output wsaw:Action="http://Calculator/ICalculator/SubstractResponse" message="tns:ICalculator_Substract_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Calculator/ICalculator/SubstractCalculationFaultFault" name="CalculationFaultFault" message="tns:ICalculator_Substract_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://Calculator/ICalculator/Multiply" message="tns:ICalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Calculator/ICalculator/MultiplyResponse" message="tns:ICalculator_Multiply_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Calculator/ICalculator/MultiplyCalculationFaultFault" name="CalculationFaultFault" message="tns:ICalculator_Multiply_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://Calculator/ICalculator/Divide" message="tns:ICalculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://Calculator/ICalculator/DivideResponse" message="tns:ICalculator_Divide_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Calculator/ICalculator/DivideCalculationFaultFault" name="CalculationFaultFault" message="tns:ICalculator_Divide_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sqrt">
      <wsdl:input wsaw:Action="http://Calculator/ICalculator/Sqrt" message="tns:ICalculator_Sqrt_InputMessage" />
      <wsdl:output wsaw:Action="http://Calculator/ICalculator/SqrtResponse" message="tns:ICalculator_Sqrt_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Calculator/ICalculator/SqrtCalculationFaultFault" name="CalculationFaultFault" message="tns:ICalculator_Sqrt_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>